@model IEnumerable<web_Laptop.Context.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<span class="Create">
    @Html.ActionLink("Create New", "Create")
</span>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avartar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Slug)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowOnHomePage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOnUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateOnUtc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <img width="200" src="@item.Avartar" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Slug)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowOnHomePage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisplayOrder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOnUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdateOnUtc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detail", "Detail", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
<style>
    .table {
        width: 85%;
        margin-left: 14%;
    }

    .Create {
        margin-left: 14%;
    }
</style>